<div class="my-7 flex justify-center">
  <app-filter
    class="flex flex-row"
    [allTeams]="allTeams"
    [winners]="winners"
    [nonWinners]="nonWinners"
    (selectedFilterRadioButtonChanged)="onChangedSelectedFilter($event)"
  ></app-filter>
</div>

<div class="flex flex-row flex-wrap">
  <div *ngFor="let team of filteredTeams">
    <app-user-card [team]="team" *ngIf="selectedFilterRadio === 'All Teams' || team.winner === selectedFilterRadio" (joinClicked)="onJoinButtonClicked($event)"></app-user-card>  
  </div>
</div>
